<?xml version="1.0" encoding="utf-8"?>
<!--
ListXML 6.3 - Нарезка входящих из АРМ КБР
Copyright (c) Dmitrii Evdokimov 2009-2017
Помощь по программе: -h
Инструкция по настройке АРМ КБР: http://www.cbr.ru/mcirabis/PO/ARM_KBR.pdf
Инструкция по форматам УФЭБС: http://www.cbr.ru/analytics/?Prtid=Formats
-->
<configuration>
  <appSettings>
    <!-- Название банка -->
    <!-- <add key="Bank" value="АО &quot;Сити Инвест Банк&quot;"/> -->
    <!-- БИК банка -->
    <!-- <add key="BIC" value="044030702"/> -->
    <!-- Корсчет банка -->
    <!-- <add key="KS" value="30101810600000000702"/> -->
    <!-- UIC банка в АРМ КБР -->
    <!-- <add key="UICBank" value="4030702000"/> -->
    <!-- UIC ТУ Банка России в АРМ КБР -->
    <!-- <add key="UICRKC" value="4030001999"/> -->
    <!-- Название ТУ Банка России -->
    <!-- <add key="RKC" value="Северо-Западное ГУ Банка России"/> -->

    <!-- Путь к исходным файлам из АРМ КБР (UARM.cfg:MachineConfig\Gates\ChkOut1Dir) -->
    <!-- <add key="PathChk" value="c:\uarm3\exg\chk\"/> -->
    <!-- Путь к хранилищу обрабатываемых файлов -->
    <!-- <add key="PathXML" value="%TEMP%\{1}\xml\"/> -->
    <!-- Путь к накопителю для загрузки в АБС -->
    <!-- <add key="PathABS" value="%TEMP%\{1}\in\"/> -->
    <!-- Файл в накопителе АБС для загрузки (0: List, 1:EDDate.Substring(5)) -->
    <!-- <add key="FileABS" value="LIST{0}\List{0}-{1}.xml"/> -->

    <!-- Подписчики для сообщений администратору -->
    <add key="Email" value="admin@bank.ru"/>
    
    <!-- Подписчики на получение ежедневного ED219 -->
    <!-- <add key="0401317" value=""/> -->
    <!-- Подписчики на получение ежемесячного ED219 -->
    <!-- <add key="0401318" value=""/> -->

    <!-- Подписчики на приходы ЭС (можно указать любые нужные ED из альбома УФЭБС) -->
    <!-- <add key="ED101" value=""/> -->
    <!-- <add key="ED211" value="admin@bank.ru"/> -->
    <!-- <add key="ED243" value=""/> -->
    <!-- <add key="ED244" value=""/> -->
    <!-- <add key="ED273" value=""/> -->
    <!-- <add key="ED275" value=""/> -->
    <!-- <add key="ED501" value=""/> -->
    <!-- <add key="ED503" value=""/> -->
    <!-- и т.д. -->
    
    <!-- Подписчики на приходы физическим лицам -->
    <!-- <add key="40817" value=""/> -->

    <!-- Файл (имя после @) или построчный перечень счетов для списка 1 -->
    <!-- <add key="List1" value="@list1.txt"/> -->
    
    <!-- Файл (имя после @) или построчный перечень конто для списка 2 -->
    <!-- <add key="List2" value="@list2.txt"/> -->

    <!-- Файл XSLT форматирования -->
    <!-- <add key="XSLT" value="UFEBS.xslt"/> -->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <connectionStrings>
    <add name="Dump" connectionString=""/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <!-- С какого адреса рассылка, метод отправки, SMTP сервер, авторизация -->
      <smtp from="robot@bank.ru" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="%TEMP%\{%App%}\mail"/>
      </smtp>
      <!--
      <smtp from="robot@bank.ru" deliveryMethod="Network">
        <network defaultCredentials="false" host="127.0.0.1" port="25" userName="robot@bank.ru" password="****" enableSsl="false"/>
      </smtp>
      -->
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <sources>
      <source name="ListXML" switchName="levelSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" />
          <add name="logFile" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- (Switch level: Off, Error, Warning, Information, Verbose, All) -->
      <add name="levelSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="console" type="Lib.AppConsoleListener, ListXML" 
           initializeData="Format='{%Now%:HH:mm:ss} '">
        <!-- (Filter initializeData: Off, Error, Warning, Information, Verbose) -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add name="logFile" type="Lib.AppLogFileListener, ListXML" 
           initializeData="Format='{%Now%:dd.MM.yyyy HH:mm:ss} {%Lvl%, -3} ';Warning={?};Error=[!];FileName=%TEMP%\{%App%}\log\{%Now%:yyyyMMdd}_{%App%}.log">
        <!-- (Filter initializeData: Off, Error, Warning, Information, Verbose) -->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <!-- <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="TraceLog" /> -->
      <!-- <add name="Diagnostics" type="System.Diagnostics.TextWriterTraceListener" initializeData="Diagnostics.log"/> -->
      <!-- (Console initializeData: true-stdErr, false-stdOut) -->  
      <!-- <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/> -->
    </sharedListeners>
    <trace autoflush="false" indentsize="4">
      <listeners>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
