<?xml version="1.0" encoding="utf-8"?>
<!--
ListXML 6.1 - Нарезка входящих из АРМ КБР
Copyright (c) Dmitrii Evdokimov 2009-2016
Source https://github.com/diev/ListXML
Помощь по программе: -h
-->
<configuration>
  <appSettings>
    <!-- Маска файлов для лога (0: DateTime, 1: App.Name), можно использовать %переменные_среды% -->
    <add key="Log" value="c:\temp\xml\log\{0:yyyyMMdd}_{1}.log"/>
    
    <!-- Название банка -->
    <add key="Bank" value="АО &quot;Сити Инвест Банк&quot;"/>
    <!-- БИК банка -->
    <add key="BIC" value="044030702"/>
    <!-- Корсчет банка -->
    <add key="KS" value="30101810600000000702"/>
    <!-- UIC банка в АРМ КБР -->
    <add key="UICBank" value="4030702000"/>
    <!-- UIC ТУ Банка России в АРМ КБР -->
    <add key="UICRKC" value="4030001999"/>
    <!-- Название ТУ Банка России -->
    <add key="RKC" value="Северо-Западное ГУ Банка России"/>

    <!-- Путь к исходным файлам из АРМ КБР-->
    <add key="PathChk" value="c:\uarm3\exg\chk\"/>
    <!-- Путь к хранилищу обрабатываемых файлов -->
    <add key="PathXML" value="c:\temp\xml\"/>
    <!-- Путь к накопителю для загрузки в АБС -->
    <add key="PathABS" value="c:\temp\in\"/>

    <!-- Подписчики для сообщений администратору -->
    <add key="Email" value="admin@bank.ru"/>
    
    <!-- Подписчики на получение ежедневного ED219 -->
    <add key="0401317" value=""/>
    <!-- Подписчики на получение ежемесячного ED219 -->
    <add key="0401318" value=""/>

    <!-- Подписчики на приходы ЭС (можно указать любые нужные ED из альбома УФЭБС) -->
    <add key="ED101" value=""/>
    <add key="ED211" value="admin@bank.ru"/>
    <add key="ED243" value=""/>
    <add key="ED244" value=""/>
    <add key="ED273" value=""/>
    <add key="ED275" value=""/>
    <add key="ED501" value=""/>
    <add key="ED503" value=""/>
    <!-- и т.д. -->
    
    <!-- Подписчики на приходы физическим лицам -->
    <add key="40817" value=""/>

    <!-- Файл (имя после @) или построчный перечень счетов для списка 1 -->
    <add key="List1" value="@list1.txt"/>
    
    <!-- Файл (имя после @) или построчный перечень конто для списка 2 -->
    <add key="List2" value="@list2.txt"/>
  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <connectionStrings>
    <add name="Dump" connectionString=""/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <!-- С какого адреса рассылка, метод отправки, SMTP сервер, авторизация -->
      <smtp from="robot@bank.ru" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\mail"/>
      </smtp>
      <!--
      <smtp from="robot@bank.ru" deliveryMethod="Network">
        <network defaultCredentials="false" host="127.0.0.1" port="25" userName="robot@bank.ru" password="****" enableSsl="false"/>
      </smtp>
      -->
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <switches>
      <!--(Trace Level: 0-Off, 1-Error, 2-Warning, 3-Info, 4-Verbose)-->
      <add name="TraceConsole" value="4"/>
      <add name="TraceLog" value="4"/>
      <!--<add name="TraceEmail" value="0"/>-->
    </switches>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <remove name="Default"/>
        <!--<add name="Diagnostics" type="System.Diagnostics.TextWriterTraceListener" initializeData="Diagnostics.log"/>-->
        <!--<add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>-->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>